In [1]:
# Strings
SELECT report_id,
        course_id,
        UPPER(student) AS student_cap,
        score
FROM scores;

SyntaxError: invalid syntax (3007286525.py, line 2)

In [ ]:
# Numbers
SELECT report_id,
        course_id,
        UPPER(student) AS student_cap,
        score,
        score + 10 AS updated_score
FROM scores;

In [ ]:
# Date/Time
SELECT report_id,
        EXTRACT(YEAR FROM rental_date) AS r_year
FROM scores;

### System Tables

In [3]:
# PostgreSQL
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname = 'public';

# SQL Server - TSQL
SELECT * 
FROM INFORMATION_SCHEMA.TABLES;

# MySQL

SHOW Tables;

SyntaxError: invalid syntax (2208778617.py, line 2)

### All Tables & Columns

In [ ]:
# To view all tables, schema, columns, etc
SELECT * 
FROM information_schema.columns
WHERE table_schema = 'public';

# Aggregate all columns of a table in a single row
SELECT table_name
        STRING_AGG(column_name, ', ') AS columns
FROM information_schema.columns
WHERE table_schema = 'public'
GROUP BY table_name;

### Views

In [ ]:
--# VIEW
CREATE VIEW tab_col_view AS
SELECT table_name,
    STRING_AGG(column_name, ', ') AS columns
FROM information_schema.columns
WHERE table_schema = 'public'
GROUP BY table_name;

## Creating TABLES

In [ ]:
# TABLE with New Data

-- CREATE TABLES
CREATE TABLE zip_distance (
	postal_code INT,
	distance FLOAT
);

-- INSERT DATA
INSERT INTO zip_distance (postal_code, distance)
VALUES
(53182, 3.4),
(15540, 10.2),
(67918, 2.9);

In [ ]:
# TABLE with Existing Data