In [1]:
# Strings
SELECT report_id,
        course_id,
        UPPER(student) AS student_cap,
        score
FROM scores;

SyntaxError: invalid syntax (3007286525.py, line 2)

In [ ]:
# Numbers
SELECT report_id,
        course_id,
        UPPER(student) AS student_cap,
        score,
        score + 10 AS updated_score
FROM scores;

In [ ]:
# Date/Time
SELECT report_id,
        EXTRACT(YEAR FROM rental_date) AS r_year
FROM scores;