In [1]:
# Strings
SELECT report_id,
        course_id,
        UPPER(student) AS student_cap,
        score
FROM scores;

SyntaxError: invalid syntax (3007286525.py, line 2)

In [ ]:
# Numbers
SELECT report_id,
        course_id,
        UPPER(student) AS student_cap,
        score,
        score + 10 AS updated_score
FROM scores;

In [ ]:
# Date/Time
SELECT report_id,
        EXTRACT(YEAR FROM rental_date) AS r_year
FROM scores;

### System Tables

In [3]:
# PostgreSQL
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname = 'public';

# SQL Server - TSQL
SELECT * 
FROM INFORMATION_SCHEMA.TABLES;

# MySQL

SHOW Tables;

SyntaxError: invalid syntax (2208778617.py, line 2)

### All Tables & Columns

In [ ]:
SELECT * FROM information_scheme.columns;